_BASE_: [
  '../datasets/rbox_detection_drone-vechal_paired.yml',
  #'../datasets/rbox_detection_drone-vechal_DAOD_paired_DAOD.yml',
  '../runtime.yml',
  '_base_/optimizer_6x.yml',
  '_base_/damsdet_r_paired_DAOD_r50vd.yml',
  '_base_/rtdetr_r_DAOD_reader.yml',
]

# Stage 1
ema_start_epochs: 14
semi_start_epochs: 15

#Stage 2
stage2_start_epochs: 25

# Stage 3
stage3_start_epochs: 45

# # Stage 1
# ema_start_epochs: 56
# semi_start_epochs: 57

# # Stage 2
# stage2_start_epochs: 67

# # Stage 3
# stage3_start_epochs: 82

use_simple_ema: True
ema_decay: 0.9999

sup_weight: 1.0

psudo_label_threhold: 0.6

train_cfg:
  sup_weight: 1.0
  unsup_weight: 1.0
  loss_weight: {distill_loss_cls: 2.0, distill_loss_box: 1.0, distill_loss_quality: 1.0}
  concat_sup_data: True
  suppress: linear
  ratio: 0.01
  gamma: 2.0

test_cfg:
  inference_on: teacher

#weights: output25/rtdetr_r50vd_6x_coco/model_final
find_unused_parameters: True
log_iter: 200
